body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: whitesmoke;
    color: #40514e;
}

p{
    line-height: 2;
}

h1{
    margin-top: 85px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #A6B1E1;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #A6B1E1;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #A6B1E1;
}

hr{
    margin: 100px auto;
    border: dotted #DCD6F7 6px;
    border-bottom: none;
    width: 4%;
}

nav{
    display: flex;
    background-color: #A6B1E1;
    justify-content: space-between;
    padding: 0rem 1.5rem;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-family: 'Montserrat', sans-serif;
}
nav a{
    text-decoration: none;
    color: #636cb8;
}
nav a:hover{
    color: #EAF6F6;
}
nav .logo{
    color: #EAF6F6;
    font-family: cursive;
    padding-top: 8px;
    font-size: 24px;
}


.top-container {
    /* background-color:#DCD6F7;
    position: relative; */
    padding-top: 100px;
    
	background: linear-gradient(-45deg, #F4EEFF, #424874, #DCD6F7, #A6B1E1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 80vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

.middle-container{
    margin: auto;
    background-color: #F4EEFF;
}


.bottom-container{
    background-color: #A6B1E1;
    height: 125px;
}
.bottom-container a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.bottom-container p{
    color: #EAF6F6;
    font-size: 10px;
    position: relative;
    top: 50px;
}
.bottom-container ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0;
    position: relative;
    top: 30px;
}
.bottom-container ul a{
    color: #636cb8;
}
.bottom-container ul a:hover{
    color: #EAF6F6;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.comp-img{
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;

}
.game-img{
    width: 25%;
    float: right;
    margin-left: 30px;

}

.profile{
    width: 30%;
    margin: auto;
    padding-top: 100px;
}
.profile img{
    width: 50%;
}

.contact-me{
    margin: 50px auto -17px;
    line-height: 2;
    padding-bottom: 80px;
}
.contact-me-des{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #DCD6F7;
    background-image: -webkit-linear-gradient(top, #DCD6F7, #A6B1E1);
    background-image: -moz-linear-gradient(top, #DCD6F7, #A6B1E1);
    background-image: -ms-linear-gradient(top, #DCD6F7, #A6B1E1);
    background-image: -o-linear-gradient(top, #DCD6F7, #A6B1E1);
    background-image: linear-gradient(to bottom, #DCD6F7, #A6B1E1);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #A6B1E1;
    background-image: -webkit-linear-gradient(top, #A6B1E1, #DCD6F7);
    background-image: -moz-linear-gradient(top, #A6B1E1, #DCD6F7);
    background-image: -ms-linear-gradient(top, #A6B1E1, #DCD6F7);
    background-image: -o-linear-gradient(top, #A6B1E1, #DCD6F7);
    background-image: linear-gradient(to bottom, #A6B1E1, #DCD6F7);
    text-decoration: none;
  }